<div class="container">
	<div class="row">
	  <div class="col-md-4">
	    <section class="user_info">
	      <h1>
	        <%= gravatar_for @user %>
	        <%= @user.name %>
	      </h1>
	    </section>
	  </div>
	  <% if @user.id == current_user.id %>
		  <div class="col-md-8">
	      	<h3>Sent Messages</h3>
	      	  <% @user.sent_messages.each do |msg| %>
	      	    <% if msg.is_read  %>
	      	    	<li>Message is <strong>already read</strong> at: <%= msg.read_at %> by <i><%= User.find(msg.recipent_id).name %></i></li>
	      	    <% else %>
	      	        <li>Message is sent at: <%= msg.created_at %> to <i><%= User.find(msg.recipent_id).name %></i> and is <strong>unread</strong></li>
	      	    <% end %>
	      	  <% end %>
	      </div>
	  <% end %>
	</div>
</div>