<!-- This is the profile 'home' page and show all the receiving messages -->
<div class="container">
	<div class="row">
	  <div class="col-md-4">
	    <section class="user_info">
	      <h1>
	        <%= gravatar_for @user %>
	        <%= @user.name %>
	      </h1>
	    </section>
	    <section class="stats">
        	<%= render 'stats' %>
      	</section>
	  </div>
	  <div class="col-md-8">
	    <%= render 'follow_form' if logged_in? %>
	    <% if @user.id == current_user.id %>
	      	<h3>Inbox</h3>
	      	<% @user.received_messages.each do |msg| %>
	      	    <% if !msg.is_read  %>
	      	    	<li><strong>New Message " <%= msg.content %> "</strong> sent by <%= User.find(msg.sender_id).name %></li>
	      	    	<% msg.read_at = DateTime.now %>
	      	    	<% msg.save %>
	      	    <% else %>
	      	        <li>Message is already read at: <%= msg.read_at %></li>
	      	    <% end %> 
	        <% end %>
	    <% end %>
	  </div>
	</div>
</div>